

<% if user_signed_in?%>
  <div class="right-align">
      <p><a class="buttonize" href="/users/<%=current_user.id%>"><%=current_user.name %></a></p>
      <p><a class="buttonize" href="/friendship">Friends</a></p>
  </div>

  <div class="center-align post-form">
    <%= render 'shared/post' %>
  </div>

  <div class="left-align newsfeed-center">
    <% if @posts %>
    <table class = "newsfeed-table">
      <tr>
      <% @posts.each do |post|%>
        <td><%= post.content%></td>
      </tr>
      <tr>
        <td><a href="/users/<%=post.user.id%>"><%=post.user.name %></a></td>
      </tr>
      <tr>
        <td><%= time_ago_in_words(post.created_at)%></td>
      </tr>

      <tr>
        <td><a class="buttonize" href="#">Like</a></td>
      </tr>
      <% end %>
    </table>
    <% else %>
    <p>There are no posts in your feed! Try making a few friends requests or post a story of your own.</p>
    <% end %>
  </div>



<% end %>
