
<% if user_signed_in? %>
<div class="links-left">
  <ul class="links-list">
    <li><a href="/users/<%=current_user.id%>"><%=current_user.name %></a></li>
    <li><a href="#">Friends</a></li>
  </ul>
</div>

<div class="post-form">
  <%= render 'shared/post.html.erb' %>

</div>

<div class="newsfeed-center">
  <% if @posts %>
  <table class = "newsfeed-table">
    <tr>
      <% @posts.each do |post|%>
      <td><%= post.content%></td>
    </tr>
    <tr>
      <td><%= time_ago_in_words(post.created_at)%></td>
    </tr>

    <tr>
      <td><a href="#">Like</a></td>
    </tr>
    <% end %>
  </table>
  <% else %>
  <p>There are no posts in your feed! Try making a few friend requests or post a story of your own.</p>
  <% end %>
</div>

<% else %>
<p>blah blh</p>

<% end %>


